.filter-wrapper {
  padding: 20px;
  width: 315px;
  height: 360px;
  background: #FFFFFF;
  border: 1px solid #EAEBED;
  border-radius: 12px;
  font-weight: 700;
  position: absolute;
  left: 162px;
  top: 124px;
  }
  .filter-header {
    font-size: 20px;
    line-height: 20px;
  }
  .filter-subheader {
    font-size: 16px;
    line-height: 19px;
    margin-top: 32px;
    &.second {
      margin-top: 20px;
    }
  }
  .filter-input-catalogues {
    width: 275px;
    height: 42px;
    background: #FFFFFF;
    border: 1px solid #D5D6DC;
    border-radius: 8px;
    margin-top: 8px;
  }
  .mantine-TextInput-wrapper {
    margin-top: 8px;
  }
  .mantine-Button-root {
    width: 273px;
    height: 40px;
    border-radius: 8px;
    background: #5E96FC;
    font-weight: 500;
    &:hover {
      background: #92C1FF;
    }
    &:active {
      background: #3B7CD3;
    }
  }

.wrapper-empty-cancel {
  position: relative;
  top: -40px;
  left: 160px;
  .empty-text {
    border: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #ACADB9;
    float: left;
    cursor: pointer;
  }
  .cross {
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 10px;
    &:hover {
      color: #92C1FF;
    }
    &:active {
      color: #5E96FC;
    }
  }
}
.cross::before, .cross::after {
  margin-left: 55px;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 1.5px;
  background: #ACADB9;
}

.cross::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.cross::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.cross:hover::before,
.cross:hover::after {
  background: #92C1FF;
}

.cross:active::before,
.cross:active::after {
  background: #5E96FC;
}
.mantine-Select-itemsWrapper {
  white-space: initial;
}

